@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Details";  
}

<h2>Student details</h2>
<p> Showing student details for id <strong> @ViewBag.StudentId</strong></p>

<a href =" /student/index">Back to index</a>