@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<ul>
    <li><a href ="/student/details/1" > Student 1</a></li>
    <li><a href ="/student/details/2" > Student 2</a></li>
    <li><a href ="/student/details/3" > Student 3</a></li>

</ul>
